{
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "importOrder": [
    "^node:[\\w]*$",
    "<THIRD_PARTY_MODULES>",
    "^src/[a-zA-Z]+[/\\w]*$",
    "^[./]+.*/[a-zA-Z]+[\\w]*$",
    "^[./].*/[\\w_\\-?]*[.]?[\\w._\\-?&]*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
