/* TODO: Use nesting syntax here and transform the CSS during building */
#onetrust-consent-sdk {
  font-family: Lato, LatoExtended, sans-serif;
}

#onetrust-consent-sdk #ot-pc-content #ot-pc-title {
  margin-top: 20px;
}

body {
  /* Prevents layout shift when the banner cookie settings are clicked. */
  overflow: auto !important;
}
