/**
 * Disable number input field default spinner handles. 
 * Must be applied to a parent element.
 *
 * @example
 *   composes: nospinner from "./utils.module.css";
 */

/* Chrome, Safari, Edge, Opera */
.nospinner input::-webkit-outer-spin-button,
.nospinner input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.nospinner input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
