@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/**
 * Import into other modules using `composes: vars from "./vars.module.css";`
*/
.vars {
  /* UI Design Colors */
  --color-theme-dark: #5f369f;
  --color-theme: #8962d3;
  --color-theme-rgb: 137, 98, 211;
  --color-theme-light: #aa88ed;
  --color-gray-0: #ffffff;
  --color-gray-5: #f3f4f5;
  --color-gray-10: #e6e7e8;
  --color-gray-20: #cbcbcc;
  --color-gray-30: #a3a4a5;
  --color-gray-40: #7c7d7f;
  --color-gray-50: #575859;
  --color-gray-60: #323233;
  --color-success: #2fc022;
  --color-error: #f92d20;

  /* Text */
  --color-text-primary: var(--color-gray-60);
  --color-text-secondary: var(--color-gray-50);
  --color-text-hint: var(--color-gray-30);
  --color-text-disabled: var(--color-gray-30);
  --color-text-button: var(--color-gray-0);

  /* Layout */
  --color-background: var(--color-gray-0);
  --color-dividers: var(--color-gray-10);
  --color-borders: var(--color-gray-20);
  --color-modal-overlay: rgba(0, 0, 0, 0.7);

  /* Buttons */
  /* Note: Button color is largely controlled by Antd. See `main.tsx` and https://ant.design/docs/react/customize-theme#maptoken to override. */
  --color-button: var(--color-theme);
  --color-button-hover: var(--color-theme-light);
  --color-button-active: var(--color-theme-dark);
  --color-button-disabled: var(--color-gray-5);
  --button-height: 24px;

  --color-focus-shadow: rgba(137, 98, 211, 0.06);

  /* Fonts */
  --default-font: "Lato";
}

/* TODO: Dark theme? - https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8 
https://usehooks-ts.com/react-hook/use-dark-mode

or use Antd's theme selector?
https://ant.design/docs/react/customize-theme

[data-theme="dark"] {
  --color-text-primary: var(--color-gray-0);
  --color-text-secondary: var(--color-gray-20);
}
*/
