.scaleBar {
  padding: 0 5px;
  /* Draw line on bottom half of the rectangle using hard stop gradients*/
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to top,
    var(--color-text-primary),
    var(--color-text-primary) 50%,
    transparent 50%,
    transparent
  );
  text-align: right;
  bottom: 50%;
  right: 50%;
}
