.colorRampSelector {
  display: flex;
  --height: var(--button-height);
  height: var(--height);
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.buttonContainer {
  position: relative;
  height: var(--height);
  padding: 0;
}

#selectorButton {
  /* Override at-rest border color.*/
  /* TODO: !important seems like an anti-pattern; find a way to replace? */
  border: 1px solid var(--color-borders) !important;
}
#selectorButton {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: var(--height);
}

#selectorButton:disabled > img {
  filter: grayscale(100%);
}

.dropdownContainer {
  z-index: 10;
  position: absolute;
  top: calc(--height + 1px);
  display: flex;
  flex-direction: column;
  background-color: var(--color-button);

  --outline-width: 1px;
  --radius: 4px;
  padding: var(--outline-width) var(--outline-width);
  gap: var(--outline-width);
  border-radius: var(--radius);

  --button-radius: calc(var(--radius) - var(--outline-width));

  transform-origin: top;
  visibility: hidden;
  transform: scaleY(0.9);
  opacity: 0;

  transition: all ease-in 0.2s 0.25s;
}

/** 
 * Show the container if the root button is hovered, and keep
 * it visible while it continues to be hovered over.
 */
.buttonContainer:hover:not(.disabled) > .dropdownContainer,
.dropdownContainer:hover {
  visibility: visible;
  transform: scaleY(1);
  opacity: 1;

  transition: all 0.1s;
}

#dropdownButton {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border-width: 0;
  border: 0px solid transparent;
  outline: 0px solid var(--color-text-button);
  outline-offset: -1px;
  transition: outline 0s ease 0s;
  overflow: hidden;
}

#dropdownButton.dropdownFirst {
  border-radius: var(--button-radius) var(--button-radius) 0 0;
}

#dropdownButton.dropdownLast {
  border-radius: 0 0 var(--button-radius) var(--button-radius);
}

#dropdownButton:hover {
  outline: 1px solid var(--color-text-button);
  outline-offset: -1px;
}
