.colorRampSelector {
  display: flex;
  height: 100%;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

.buttonContainer {
  position: relative;
}

.selectorButton {
  padding: 0;
  overflow: hidden;
  height: 24px;
}

.dropdownContainer {
  z-index: 1;
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: column;
  padding: 1px 1px;
  gap: 1px;
  background-color: var(--color-button);
  border-radius: 4px;

  transform-origin: top;
  visibility: hidden;
  transform: scaleY(0.9);
  opacity: 0;

  transition: all ease-in 0.2s 0.25s;
}

/** 
 * Show the container if the root button is hovered, and keep
 * it visible while it continues to be hovered over.
 */
.buttonContainer:hover:not(.disabled) > .dropdownContainer,
.dropdownContainer:hover {
  visibility: visible;
  transform: scaleY(1);
  opacity: 1;

  transition: all 0.1s;
}

.dropdownContainer > button {
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  border: 0px solid transparent;
  outline: 0px solid var(--color-text-button);
  outline-offset: -1px;
  transition: outline 0s ease 0s;
  overflow: hidden;
}

.dropdownContainer > .dropdownFirst {
  border-radius: 3px 3px 0 0;
}

.dropdownContainer > .dropdownLast {
  border-radius: 0 0 3px 3px;
}

.dropdownContainer > button:hover {
  outline: 1px solid var(--color-text-button);
  outline-offset: -1px;
}
