p {
  margin: 2px;
}

label {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.header {
  width: auto;
  height: fit-content;
  --min-height: 24px;
  min-height: var(--min-height);
  padding: 18px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders);
}

.headerLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.headerRight {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.header h2 {
  margin: 0;
  line-height: normal;
}

.verticalDivider {
  height: var(--min-height);
  width: 1px;
  background-color: var(--dividers);
  display: inline-block;
}

.canvasTopControlsContainer {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.labeledColorRamp {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.canvasBottomControlsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.timeControls {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.colorRampContainer {
  position: relative;
  width: 120px;
  height: 25px;
}

.colorRamp {
  position: absolute;
  width: 100%;
  height: 100%;
}

.colorRamp > canvas {
  display: none;
}

.colorRamp:hover:not(.disabled) > canvas {
  display: block;
}

.colorRamp > canvas.selected {
  display: block;
}

.colorRamp > canvas:hover,
.colorRamp > canvas.selected {
  outline: 3px solid black;
  outline-offset: -2px;
}
