.app {
  composes: vars from "./vars.module.css";
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.app h1 {
  color: var(--color-text-primary);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.app h2 {
  color: var(--color-text-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.app h3 {
  color: var(--color-text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.app label {
  font-size: 14px;
}

.app p,
.app label {
  color: var(--text-primary);
  font-family: var(--default-font);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.app p {
  margin: 2px;
}

.app label {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.header {
  --header-content-height: 24px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: fit-content;
  min-height: var(--header-content-height);
  padding: 18px 30px;
  border-bottom: 1px solid var(--color-borders);
  gap: 10px;
}

.header > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.headerLeft {
  gap: 20px;
}

.headerRight {
  height: 100%;
  gap: 10px;
}

.copyUrlButton {
  padding-left: 0;
  padding-right: 6px;
}

/* Color the success icon in the copy notification*/
.copyNotification div span {
  font-size: 20px;
  color: var(--color-success);
}

.header h2 {
  margin: 0;
  line-height: normal;
}

.verticalDivider {
  height: var(--header-content-height);
  width: 1px;
  background-color: var(--color-dividers);
  display: inline-block;
}

.mainContent .topControls {
  margin: 10px 0;
}

.mainContent .controlsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.labeledColorRamp {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  max-width: 460px;
  margin-right: 20px;
}

.mainContent {
  margin: 8px 30px;
}

.sliderContainer {
  position: relative;
  max-width: 289px;
  width: 100%;
  margin: 17px 0 17px 0;
  font-size: 10px;
  color: var(--color-text-secondary);
}

.sliderContainer > .minSliderLabel {
  position: absolute;
  left: 0;
  bottom: -15px;
}
.sliderContainer > .maxSliderLabel {
  position: absolute;
  right: 0;
  bottom: -15px;
}

.contentPanels {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  gap: 20px;
}

.canvasPanel {
}

.canvasPanel .bottomControls {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.app canvas {
  border: 1px solid var(--color-dividers);
}

.canvasPanel .timeControls {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: calc(100% - 60px);
}

.timeSliderContainer {
  width: 100%;
  max-width: 300px;
}

.plotPanel {
}
