@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

:root {
  --text-primary: #323233;
  --text-secondary: #575859;
  --text-hint: #a3a4a5;
  --text-theme-alt: #ffffff;
  --background: #ffffff;
  --theme: #8962d3;
  --borders: #cbcbcc;
  --dividers: #e7e7e7;
  --ui-background: #f2f2f2;
  --modal-overlay: rgba(0, 0, 0, 0.7);
  --default-font: "Lato";
}

body {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--text-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

h2 {
  color: var(--text-primary);
  font-size: 18px;
}

button {
  color: var(--text-theme-alt);
  font-size: 14x;
  padding: 1px 12px;
  border-radius: 4px;
  background-color: var(--theme);
  border-style: none;
}

p,
label {
  color: var(--text-primary);
  font-family: var(--default-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
